@charset "UTF-8";
/*-------------------------------------------------------------------------
 * Nam NCN
 * ------------------------------------------------------------------------
 * Designed by Nam NCN
 * Websites:  http://www.namncn.com -  Email: nam.truong.ncn@gmail.com
---------------------------------------------------------------------------
  1.   Bootstrap Core
  2.   Global
  3.   Reset Bootstrap Core
  4.   ShortCode
  5.   Room
  6.   Layout
  7.   Contact Page
  8.   Single-post Page
  9.   Comming Soon Page
  10.  404 Page
  11.  Reservation Page
  12.  Guest-book Page
  13.  Activity Page
--------------------------------------------------------------------------------*/

body {
	background-color: #F6F6F6;
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
	color: #2C3E50;
}

a {
	color: #0ba;
	text-decoration: none;
}

a:hover {
	transition: all .25s ease;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

a:hover,
a:focus {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.h1, h1 {
	font-size: 39px;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

.widget-title {
    margin-top: 0;
}

.widget ul {
	list-style: none;
	padding: 0;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

.widget_search .search-form .search-field {
	border: 1px solid #ccc;
	outline: none;
	font-size: 14px;
	font-weight: normal;
	padding: 5px 10px;
	width: 100%;
}

.widget_search .search-form .search-submit {
	outline: none;
	border: none;
	background: #0ba;
	color: white;
	position: absolute;
    top: 0;
    right: 0;
}

.widget_recent_entries a {
	display: block;
	font-weight: bold;
}

.widget_recent_entries ul > li {
	margin-bottom: 10px;
}

.widget_recent_entries ul > li > span {
	text-transform: uppercase;
	font-size: 13px;
	color: grey;
}

.form-group input, .form-group textarea {
	border: 1px solid #bebebe;
	background: 0 0;
	margin: 5px 0;
	color: #fff;
	outline: none;
	padding: 10px 15px;
	max-width: 100%;
}

.form__buttons input {
	background: none;
	border: none;
	background: #0ba;
	color: white;
	padding: 10px 40px;
	border-radius: 4px;
}

form.search-form {
    position: relative;
}

.ncn-flickr-grid__item {
    display: inline-block;
    width: 33%;
    padding: 1%;
}

.widget_categories ul li a {
    border: 1px solid #0ba;
    padding: 5px 10px;
    display: block;

}
.widget_categories ul li {
    display: inline-block;
    margin: 0 5px 10px 0;
}

.widget_categories ul li a:hover {
    background: #0ba;
    color: white;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

#content {
	padding: 25px 0;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.post__media--slick .slick-next {
	right: 0;
}

.post__media--slick .slick-prev {
	left: 0;
}

.entry-footer .comments-link {
	margin-right: 10px;
}

.entry-meta {
	text-transform: uppercase;
	font-size: 9px;
	font-weight: 400;
}

.nav-previous, .nav-next {
	width: 50%;
	display: inline-block;
}

.nav-next {
	text-align: right;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comments-area {
	margin: 50px 0;
}

.comments-area input, .comments-area textarea {
	color: #444;
}

.comments-area .comment-form-comment textarea {
	width: 100%;
}

.comments-area .form-submit button {
	background: #0ba;
	border: none;
	border-radius: 4px;
	color: white;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

@media ( min-width: 992px ) {
	.sidebar-left .content-area {
		left: 25%;
	}

	.sidebar-left .widget-area {
		right: 58.33333333%;
	}
}

.no-sidebar .widget-area, .sidebar-none .widget-area {
	display: none;
}

.sidebar-none .content-area {
	width: 100%;
}

/*--------------------------------------------------------------
## Sidebar
--------------------------------------------------------------*/

aside#secondary {
    background: #fafff0;
    padding-top: 20px;
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/

.banner__title {
	font-size: 100px;
	color: #fff;
	font-weight: 900;
	margin: 0 80px 0 0;
	line-height: 1.05;
}

@media ( max-width: 991px ) {
	.banner__title {
		font-size: 50px;
		text-align: center;
    	margin: 50px 0 0 0;
	}

	.banner__subtitle {
		margin: 0;
		text-align: center;
	}
}

@media ( max-width: 480px ) {
	.banner__title {
		font-size: 30px;
		text-align: center;
    	margin: 20px 0 0 0;
	}
}

.banner__subtitle {
	font-size: 24px;
	color: #fff;
	font-weight: 400;
	margin: 45px 80px 0 0;
	line-height: 1.7;
	-webkit-transition: .5s;
	transition: .5s;
	-webkit-transition-delay: .3s;
	transition-delay: .3s;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}

@media ( max-width: 991px ) {
	.banner__subtitle {
		margin: 20px 0;
		text-align: center;
		font-size: 15px;
	}
}

.header-contact {
	background: rgba(255,255,255,.3);
	padding: 10px 30px;
	color: white;
	text-transform: uppercase;
}

.header-contact .wpcf7-form-control {
	width: 100%;
	background: rgba(255,255,255,.7);
	border: none;
	padding: 8px;
	outline: none;
}

.header-contact .wpcf7-submit {
	border: 3px solid red;
	background: #e61010;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 0;
	font-weight: bold;
	letter-spacing: 2px;
	transition: all .3s ease;
}

.header-contact .wpcf7-submit:hover {
	background: #0ba;
	color: #fff;
	border-color: #0ba;
}

.wpcf7-not-valid-tip {
	text-transform: none;
}

/*--------------------------------------------------------------
# Topbar
--------------------------------------------------------------*/

.topbar {
	z-index: 240;
	position: relative;
	background: #0ba;
	color: #fff;
	background: rgba(0,0,0,.2);
	color: #fff;
}

.intro {
	line-height: 45px;
	margin: 0;
}

.topbar-social .social-item {
	float: left;
	color: white;
	border: 1px solid #fff;
	border-radius: 25px;
	width: 25px;
	height: 25px;
	text-align: center;
	margin-right: 15px;
	font-size: 15px;
	margin: 10px 5px;
	line-height: 24px;
}

.topbar-phone {
	display: block;
	color: white;
	line-height: 45px;
}

.topbar-phone:hover, .topbar-phone:focus {
	color: white;
}

.topbar-phone:focus {
	border: none;
}

.social-item:hover {
	color: #f3bc65;
}

.topbar-phone i.fa {
	font-size: 20px;
	padding-right: 20px;
}

.topbar-contact {
	background: rgba(0,0,0,.2);
	text-align: center;
}

.topbar-login {
	height: 45px;
	line-height: 45px;
	text-align: right;
	text-transform: uppercase;
}

@media ( max-width: 991px ) {
	.topbar {
		display: none;
	}
}

/*--------------------------------------------------------------
# Site Navigation
--------------------------------------------------------------*/

#main-navigation {
	padding: 0 0 20px 0;
}

.site-branding {
	color: white;
}

@media ( max-width: 991px ) {
	.site-branding {
		text-align: center;
	}
}

.site-title a {
	color: white;
	font-weight: bold;
}

.main-nav {
	padding: 40px 0;
}

.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

@media ( max-width: 991px ) {
	.main-nav {
		display: none;
	}
}

#primary-menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

#primary-menu li {
	position: relative;
	list-style: none;
	z-index: 9999;
}

#primary-menu > li a, .main-nav ul > li a {
	text-transform: uppercase;
	display: block;
	color: white;
	font-weight: 600;
}

#primary-menu > li {
	float: left;
	margin-right: 40px;
}

#primary-menu .sub-menu {
	background: #0ba;
	padding: 0;
	position: absolute;
	width: 200px;
	list-style: none;
	opacity: 0;
	visibility: hidden;
	transition: all .25s ease-in-out;
}

#primary-menu .sub-menu a {
	text-transform: none !important;
	font-weight: 400 !important;
	padding: 10px;
	transition: hover .3s,padding .3s;
}

#primary-menu .sub-menu a:hover {
	padding-left: 15px;
}

#primary-menu > li > .sub-menu {
	top: 21px !important;
	left: 0 !important;
	margin-top: 30px;
	margin-left: 0 !important;
}

#primary-menu li .sub-menu {
	margin-left: 30px;
	top: 0;
	left: 200px;
}

#primary-menu > li:hover > .sub-menu {
	margin-top: 0;
	margin-left: 0;
	opacity: 1;
	visibility: visible;
}

#primary-menu li:hover > .sub-menu {
	margin-left: 0;
	opacity: 1;
	visibility: visible;
}

#primary-menu .menu-item-has-children > a:after {
	content: "\f105";
	float: right;
	font: normal normal normal 14px/1 FontAwesome;
	padding-left: 5px;
	padding-top: 3px;
}

#primary-menu > .menu-item-has-children > a:after {
	content: "\f107";
	float: right;
	font: normal normal normal 14px/1 FontAwesome;
	padding-left: 5px;
	padding-top: 3px;
}

#primary-menu > .current-menu-item > a {
	border-bottom: 2px solid white;
}

/*--------------------------------------------------------------
# Mobile menu
--------------------------------------------------------------*/

@media ( min-width: 992px ) {
	.mobile-menu, .mobile-menu-toggle {
		display: none;
	}
}

.mobile-menu.active {
	transform: translateX(0);
}

.mobile-menu {
    position: fixed;
    background: #444;
    width: 280px;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9999;
    transform: translateX(-280px);
    transition: all .25s ease;
}

.mobile-menu li {
	position: relative;
}

.mobile-menu a {
	color: white;
	display: block;
	padding: 12px;
	border-bottom: 1px solid #525252;
}

.mobile-menu-toggle {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    border: 0;
    background: transparent;
    outline: none;
    cursor: pointer;
}

.mobile-menu-toggle .icon-bar {
    height: 2px;
    width: 20px;
    background: white;
    display: block;
    margin: 4px 0;
    transition: all .25s ease;
}

.mobile-menu-toggle.close .icb-1 {
    transform: rotate(45deg);
    margin-top: 10px;
}

.mobile-menu-toggle.close .icb-2 {
    opacity: 0;
}

.mobile-menu-toggle.close .icb-3 {
    transform: rotate(-45deg);
    position: absolute;
    top: 26px;
}

.mobile-menu .menu-item-has-children i {
    position: absolute;
    color: #f9f9f9;
    top: 0;
    right: 0;
    font-size: 10px;
    padding: 17px;
    background: #2d2d2d;
    cursor: pointer;
}

.mobile-menu .menu-item-has-children.active i {
    transform: rotate(180deg);
}

.mobile-menu .menu-item-has-children.active .sub-menu {
    display: block;
}

.mobile-menu .sub-menu {
	display: none;
    padding-left: 10px;
    margin: 0;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.5);
}

/*--------------------------------------------------------------
## Title shortcode
--------------------------------------------------------------*/

.page-title {
	font-size: 46px;
	text-align: center;
	color: #2C3E50;
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-style: normal;
	margin-top: 0;
	margin-bottom: 0;
	word-wrap: break-word;
}

.page-headline {
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	text-align: center;
	color: #2C3E50;
	margin-top: 30px;
	margin-bottom: 0;
	line-height: 2;
}

/*--------------------------------------------------------------
## Product shortcode
--------------------------------------------------------------*/

.product_info {
	background: #fff;
	border-top: none;
	padding: 15px 30px;
	-webkit-transition: .5s;
	transition: .5s;
}

.listing__item {
	margin-bottom: 30px;
}

.product__item:hover .product_info {
	background: #2c3e50;
}

.product__item:hover a {
	color: white;
}

.product_thumb {
	position: relative;
}

.item-photo {
	position: relative;
	overflow: hidden;
	display: block;
}

.item-photo img {
	display: block;
	max-width: 100%;
	width: 100%;
	height: 100%;
	-webkit-transition: .35s;
	transition: .35s;
}

.product__item:hover .item-photo img {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.product-ribon {
	position: absolute;
	right: -5px;
	background: #0ba;
	color: #fff;
	text-transform: uppercase;
	padding: 3px 15px;
	font-weight: 600;
	top: 18px;
}

.product-ribon:after {
	position: absolute;
	right: 0;
	bottom: -5px;
	border-top: 5px solid #00887c;
	width: 5px;
	content: " ";
	display: block;
	border-right: 5px solid #f6f6f6;
}

.product_info .entry-title {
	border-bottom: 1px dashed #ccc;
	padding-bottom: 20px;
	margin-top: 0;
}

.product_info--title {
	font-weight: bold;
}

.bg-gradient {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.25));
}

.item-photo__hover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.7);
	opacity: 0;
	-webkit-transition: .35s;
	transition: .35s;
	padding: 15px 30px 5px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	-webkit-box-pack: end; 
	-webkit-justify-content: flex-end; 
	-ms-flex-pack: end;
	justify-content: flex-end; 
}

.product__item:hover .item-photo__hover {
	opacity: 1;
}

.product_info--title {
	font-size: 17px;
	color: #2c3e50;
	display: block;
}

.product_info--saleprice {
	color: #0ba;
	font-size: 25px;
}

.product__item:hover .product_info--saleprice {
	color: #f3bc65;
}

.properties__param {
	color: #fff;
	text-transform: uppercase;
	display: block;
	font-size: 14px;
}

.properties__shortdesc {
	color: #a6a6a6;
	font-size: 14px;
	margin-top: 5px;
	display: block;
}

.properties__time {
	color: #f3bc65;
	font-size: 13px;
	font-style: italic;
	margin-top: 15px;
	display: block;
}

.properties__more {
	color: white;
	font-size: 11px;
	padding: 3px 5px;
	margin-top: -23px;
	text-transform: uppercase;
	border: 1px solid #a6a6a6;
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
}

.product__item:hover .properties__moneyback {
	color: white;
}

.product__send {
	border: none;
	background: #0ba;
	color: white;
	float: right;
	outline: none;
	padding: 5px 10px;
	border-radius: 3px;
}

.product__send i {
	padding-left: 2px;
}

/*--------------------------------------------------------------
## Product single
--------------------------------------------------------------*/

.single-product_thumb {
	position: relative;
}

.single-product_thumb .item-photo__hover {
	opacity: 1;
}

.single-product_thumb .properties__param {
	font-size: 17px;
	margin-top: 8px;
}

.product_seedetails {
    text-align: center;
    margin: 20px 0;
}

.product_seedetails .product__send {
	float: none;
	border-radius: 0;
	padding: 10px 20px;
	border: 1px solid #0ba;
}

.product__link {
    border: 1px solid;
    padding: 10px 20px;
}

.product_seedetails .product__send:hover {
	color: white;
}

.product__link:hover {
	background: #0ba;
	color: white;
	border: 1px solid #0ba;
}

/*--------------------------------------------------------------
## Funcybox & contact form 7
--------------------------------------------------------------*/

#fancybox-outer {
    border: 4px solid #0ba;
    padding: 15px;
}

#fancybox-content .wpcf7-form-control-wrap input, #fancybox-content .wpcf7-form-control-wrap textarea {
    padding: 8px 2px;
    border: 1px solid #eee;
}

#fancybox-content .wpcf7-submit {
    border: 1px solid #0ba;
    background: #0ba;
    color: white;
    padding: 6px 20px;
    outline: none;
}

/*--------------------------------------------------------------
## Agents
--------------------------------------------------------------*/

.agent-photo {
	position: relative;
	overflow: hidden;
}

.agent-socials {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: -webkit-gradient(linear,left top,left bottom,from(transparent),to(rgba(0,0,0,.8)));
	background-image: linear-gradient(to bottom,transparent 0,rgba(0,0,0,.8) 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#CC000000', GradientType=0);
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	padding: 60px 0 0;
	-webkit-transition: .3s;
	transition: .3s;
	-webkit-transform: translateY(100px);
	-ms-transform: translateY(100px);
	transform: translateY(100px);
}

.listting_agent:hover .agent-socials {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.agent-position {
	padding-top: 5px;
	padding-bottom: 5px;
	text-transform: none;
	font-weight: 400;
}

.agent-social--link {
	padding: 10px 0;
}

.agent-social--link a {
	font-size: 20px;
	color: #fff;
	margin: 0 10px;
	-webkit-transition: .3s;
	transition: .3s;
}

.agent-details {
	background: #fff;
	text-align: center;
	padding-top: 30px;
}

.agent-name {
	color: #2c3e50;
	font-size: 24px;
	font-weight: 600;
	margin: 0;
}

.agent-tel {
	margin: 9px 0 0;
	color: #0ba;
	font-size: 17px;
	font-weight: 700;
	display: block;
}

.agent-tel:hover {
	color: #0ba;
}

.agent-readmore {
	text-transform: uppercase;
	font-size: 12px;
	color: #a6a6a6;
	display: block;
	border: none;
	width: 90px;
	margin: 9px auto 0;
	padding-bottom: 20px;
	vertical-align: middle;
	font-weight: 700;
}

.agent-readmore:hover {
	color: #a6a6a6;
}

/*--------------------------------------------------------------
## Posts shortcode
--------------------------------------------------------------*/

.article_photo {
	position: relative;
	display: block;
}

.article_photo img {
	width: 100%;
	position: absolute;
}

.article_photo:after {
	content: '';
	padding-top: 62.5%;
	display: block;
}

.article-time {
	position: absolute;
	top: 0;
	right: 0;
	background: #2c3e50;
	color: #fff;
	display: block;
	width: 50px;
	text-align: center;
	padding: 10px 0;
	line-height: 1;
	font-weight: 600;
	text-transform: uppercase;
}

.article-time strong {
	display: block;
	font-size: 20px;
}

.article-title {
	color: #2c3e50;
	font-size: 20px;
	display: inline-block;
	font-weight: 600;
	margin: 14px 0 0;
	line-height: 1.2;
}

.article-title:hover {
	color: #2c3e50;
	text-decoration: underline;
}

.article-intro {
	margin: 6px 0 14px;
}

.article-more {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	text-transform: uppercase;
	white-space: nowrap;
	padding: 6px 15px;
	line-height: 1.6;
	border-radius: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-weight: 700;
	position: relative;
	text-decoration: none;
	border: 2px solid #2c3e50;
	background: 0 0;
	color: #2c3e50;
	margin: 10px 0;
	font-size: 13px;
	width: auto;
}

.article-more:hover {
	border-color: #f3bc65;
	color: #f3bc65;
}

.article-more:active, .article-more:focus, .article-more:hover {
	text-decoration: none;
	outline: 0;
}

.see-more {
	text-align: center;
}

.see-more a {
	display: inline-block;
	padding: 8px 20px;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	border: 1px solid #d6d6d6;
}

.see-more a:hover {
	color: #f3bc65;
	border-color: #f3bc65;
}

/*--------------------------------------------------------------
## Testimonial
--------------------------------------------------------------*/

.review_photo {
	position: relative;
	margin: 0;
	float: left;
	width: 50%;
	padding-right: 10px;
}

.review_photo img {
	max-width: 100%;
	margin-top: 0;
	float: right;
}

.review_details {
	float: left;
	padding-left: 10px;
}

.review_info {
	margin-top: 0;
	clear: both;
}

.review-name {
	font-size: 17px;
	color: #2c3e50;
	font-weight: 900;
	margin-top: 24px;
	padding: 0;
	text-transform: uppercase;
	display: block;
}

.review_info p {
	font-style: italic;
	color: #0ba;
	text-align: center;
}

.quote--open, .quote--close {
	font-size: 50px;
	line-height: 1;
	color: #2c3e50;
	height: 25px;
	font-weight: 600;
}

.quote--close {
	margin-top: -30px;
	float: right;
}

.slick-dots {
	position: absolute;
	 bottom: -40px; 
	list-style: none;
	display: block;
	text-align: center;
	padding: 0;
	width: 100%;
}

.slick-dots li {
	position: relative;
	display: inline-block;
	height: 20px;
	width: 20px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}

.slick-dots li button {
	border: 0;
	background: 0 0;
	display: block;
	height: 20px;
	width: 20px;
	outline: 0;
	line-height: 0;
	font-size: 0;
	color: transparent;
	padding: 5px;
	cursor: pointer;
}

.slick-dots button:before {
	font-size: 10px;
	display: inline-block;
	font-family: FontAwesome;
	content: "";
	color: #2c3e50;
	opacity: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
	font-size: 10px;
	display: inline-block;
	font-family: FontAwesome;
	content: "";
	color: #0ba;
}

.review__slider {
	outline: none;
}


/*--------------------------------------------------------------
## Partners
--------------------------------------------------------------*/

.partner__slider .slick-slide img {
	margin: 0 auto;
}

.partner__slider .slick-slide {
	text-align: center;
}

.slick-arrow {
	padding: 8px 12px;
	margin: -29px 0 0 10px;
	color: #0ba;
	line-height: .5;
	position: absolute;
	top: 50%;
	background: 0 0;
	border: none;
	outline: 0;
	z-index: 9999;
}

.slick-prev {
	margin-left: 0;
	left: -14px;
}

.slick-prev:after {
	font-size: 5em;
	display: inline-block;
	font-family: FontAwesome;
	content: "";
}

.slick-next {
	right: -14px;
}

.slick-next:after {
	font-size: 5em;
	display: inline-block;
	font-family: FontAwesome;
	content: "";
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/

.site-footer {
	background-image: url("http://realtyspace.codefactory47.com/app/uploads/2016/04/bg-footer.jpg");
	background-color: #222;
	color: #bebebe;
	background-attachment: fixed;
}

.site-footer a {
	color: #bebebe;
}

.site-copyright {
    text-align: center;
    padding: 35px 0;
}

.site-copyright p {
    margin: 0;
}

.site-footer .widget-title {
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	margin: 30px 0 15px;
	font-weight: 600;
	font-style: normal;
	font-size: 17px;
	text-align: inherit;
	text-transform: uppercase;
	color: #00bbaa;
}

.site-footer .menu > li {
	display: inline-block;
}

.site-footer .menu > li > a {
	color: #bebebe;
	margin: 0 10px 0 0;
	text-transform: uppercase;
	text-decoration: none!important;
}

.site-footer .menu > li > a:after {
	content: '/';
	margin-left: 10px;
}

.ncn-footer-contact span, .ncn-footer-contact a {
	display: block;
}
.ncn-footer-contact {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 20px;
	-moz-column-gap: 20px;
	column-gap: 20px;
}
